@model kuaforsln.Models.Kullanici
@{
    ViewData["Title"] = "Kisisel Ayarlar";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="ui container grid padded">
    <div class="row">
        <div class="column">
            @using (Html.BeginForm("KisiselAyarlar", "KullaniciPanel", null, FormMethod.Post, true, new { @class = "ui large form error" }))
            {
                @Html.HiddenFor(m => m.KullaniciID);
                @Html.HiddenFor(m => m.YetkiId);
                @Html.TextBoxFor(m => m.KullaniciAdi, new { placeholder = "Kullanici Adi" });
                @Html.TextBoxFor(m => m.Sifre, new { placeholder = "Sifre" });
                @Html.TextBoxFor(m => m.TamAdi, new { placeholder = "Tam Adi" });
                @Html.TextBoxFor(m => m.Email, new { placeholder = "E-Mail" });
                @Html.TextBoxFor(m => m.Telefon, new { placeholder = "Telefon" });
                @Html.TextBoxFor(m => m.Adres, new { placeholder = "Adres" });
                
                <button class="ui fluid large teal submit button" type="submit">Guncelle</button>
            }
            <a class="ui button secondary" href="~/KullaniciPanel">Anasayfa</a>
        </div>
    </div>
</div>